
.search-button {
    background-color: rgb(78, 202, 107);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0px 4px;
  
}

.weather-header {
    background-image: url("https://media.tenor.com/beBOF70zdqQAAAAd/clouds-cloud.gif");
    background-size:cover;
    color: black;
    text-shadow: 2px rgb(0, 0, 0);
    text-align-last: center;
    
}